*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #f0f0f0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

header
{
    width: 960px;
    height: 140px;
    margin: 0px auto;
    padding: 10px;
    background-color: #e0e0e0;
}

header img
{
    float: left;
    margin: 5px 20px;
}

header div
{
    margin-top: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}

nav
{
    width: 960px;
    margin: 0px auto;
    padding: 10px;
    background-color: #c0c0c0;
}

nav ul
{
    margin: 4px 5px;
    list-style-type: none;
}

nav ul li
{
    display: inline-block;
    margin: 0px 10px;
}

nav a
{
    text-decoration: none;
    color: #202020;
}

nav a:hover
{
    text-decoration: none;
    color: #000000;
}

article
{
    width: 960px;
    margin: 0px auto;
    padding: 10px;
    background-color: #ffffff;
    font-size: 14px;
}

article h1
{
    margin: 10px 10px;
}

article h2
{
    margin: 10px 10px;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

article p
{
    margin: 15px 25px;
    text-align: justify;
    line-height: 150%;
}

article img
{
    float: left;
    margin: 15px;
}

article ul
{
    margin: 15px 45px;
    clear: left;
}

article ul.links
{
    list-style-type: none;
}

article div.video
{
    margin: 25px 0px;
    text-align: center;
}

article a
{
    text-decoration: none;
    color: #202020;
}

article a:hover
{
    text-decoration: underline;
    color: #000000;
}

footer
{
    width: 960px;
    margin: 0px auto;
    padding: 10px;
    background-color: #e0e0e0;
}
